/*insert style here*/
#map {
    height: 600px;
}

/*#map { height: 600px; }

#geojsonFeatures { 
    fill: "black";
    stroke: "black";
    stroke-width: 1;
}

.sequence-control-container {  
    width: 400px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}

.range-slider {  
    width: 250px;  
}

.step {  
    width: 60px;  
}

.step img {  
    width: 100%;  
    height: auto;  
}

#forward {  
    width: 30px;
    height: 30px;
    float: right;  
}  

#reverse {  
    width: 30px;
    height: 30px;
    float: left;  
}

#map {
    width:100%;
    height:100%;
}
.leaflet-google-layer{
    z-index: 0;
}
.leaflet-map-pane{
    z-index: 100;
}*/