/*insert style here*/
body,
html {
    height: 100%;
}

#title {
    float: top;
    background-color: #779ecb;
    color: black;
    text-align: center;
}

#map {
    width: 30%;
    height: 80%;
    position: relative;
    float: left;
    background-color: black;
    z-index: 0;
}

.leaflet-google-layer {
    position: relative;
    z-index: 0;
}

.leaflet-map-pane {
    position: relative;
    z-index: 0;
}

#graph {
    height: 100%;
    width: 70%;
    float: left;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: rgb(226, 255, 252);
}

.selector {
    float: right;
    /*padding-left: 0px;*/
}

.my-label {
    position: absolute;
    float: right;
    width: 50px;
    font-size: 14px;
}

.selector {
    background-color: #779ecb;
    /* navy */
    border: none;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid white;
    cursor: pointer;
    transition-duration: 0.4s;
}

.selector:hover {
    background-color: #ffffff;
    /* white */
    color: #779ecb;
}

/*#map { height: 600px; }

#geojsonFeatures { 
    fill: "black";
    stroke: "black";
    stroke-width: 1;
}

.sequence-control-container {  
    width: 400px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}

.range-slider {  
    width: 250px;  
}

.step {  
    width: 60px;  
}

.step img {  
    width: 100%;  
    height: auto;  
}

#forward {  
    width: 30px;
    height: 30px;
    float: right;  
}  

#reverse {  
    width: 30px;
    height: 30px;
    float: left;  
}

#map {
    width:100%;
    height:100%;
}
.leaflet-google-layer{
    z-index: 0;
}
.leaflet-map-pane{
    z-index: 100;
}

body {
    padding: 300px;
    font-family: ubuntu;
}*/

.help {
    width: 40px;
    margin: 0 auto;
    position: fixed;
    top: 10px;
    right: 60px;
}

.help .question {
    height: 40px;
    width: 80px;
    background: black;
    color: white;
    font-size: 12px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.help .popup,
.help .popup2 {
    width: 660px;
    height: 0px;
    text-align: left;
    overflow: hidden;
    position: relative;
    background: #eee;
    opacity: 0;
    transition: 1s;
}

.help .popup {
    left: -580px;
    top: 10px;
}

.help .popup2 {
    height: 270px;
    top: 0px;
}

.help .popup2 h4 {
    font-size: 18px;
    padding: 10px;
    margin: 0;
}

.help:hover .popup {
    opacity: 1;
    height: 300px;
}

.help .tell-me p:first-child {
    color: #317eac;
    cursor: pointer;
}

.tell-me {
    width: 100px;
}

.help .tell-me:hover .popup2 {
    top: -215px;
    opacity: 1;
}

.help .popup h3 {
    margin: 0;
    padding: 10px 0 0 10px;
    height: 30px;
    background: #555;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}

.help .popup p {
    font-size: 14px;
    padding: 10px;
    margin: 0;
}

.help .popup .popup2 .sub-levels {
    padding: 0 0 10px 10px;
}

.help .popup .popup2 .sub-levels strong {
    font-size: 14px;
}

.help .popup .popup2 p:nth-child(5) {
    padding: 20px 0 0 10px;
}

.help .popup a {
    text-decoration: none;
    color: #317eac;
}

.help .popup a:visited {
    color: #317eac;
}

.help .popup p em {
    font-size: 12px;
}

/*howto popup*/
/* Popup container */
.popup {
    cursor: pointer;
    width: 40px;
    margin: 0 auto;
    position: fixed;
    top: 20px;
    left: 50px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 1000px;
    height: 500px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    z-index: 999999999999;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -500px;
    opacity: 95%;
    font-size: 20px;
}

/* Popup arrow
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

#popimg {
    height: 30px;
    width: 30px;
}

#exit{
    font-size: 12px;
    text-align: right;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 95%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 95%;
    }
}

/*howto popup*/
/* Popup container */
.creators {
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: blue;
    text-decoration: underline;
}

/* The actual popup (appears on top) */
.creators .creatortext {
    visibility: hidden;
    width: 800px;
    height: 140px;
    background-color: white;
    color: black;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px;
    z-index: 999999999999;
    position: fixed; /* or absolute */
    bottom: 40px;
    left: 10px;
    margin-left: 0px;
    opacity: 95%;
    font-size: 12px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.creators .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}